/* @CHARSET "UTF-8"; */

@maHeaderBackColor: navy;
@maHeaderHeight: 80px;

@maFooterBackColor: lightGray;
@maFooterHeight: 50px;

@maBodyBackColor: whiteSmoke;


body {
	margin: 0px;
}

#maHeader {
	background-color: @maHeaderBackColor;
	left: 0px; width: 100%;
	top: 0px; height: @maHeaderHeight;
}

#maBody {
	background-color: @maBodyBackColor;
	position: absolute;
	left: 0px; width: 100%;
	top: @maHeaderHeight; bottom: @maFooterHeight;
}

#maFooter {
	background-color: @maFooterBackColor;
	position: absolute;
	left: 0px; width: 100%;
	bottom: 0px; height: @maFooterHeight;
}