<html>
<body>
<div id="container" style="overflow: auto">
	<div id="content" style="position: relative; width: 1000px; height: 1000px;">

		<div style="position: absolute; 
			left:10px; width:100px; top: 10px; height: 100px; 
			background-color: orange">
		</div>

		<div style="position: absolute; 
			right: 10px; width:100px; bottom: 10px; height: 100px; 
			background-color: orange">
		</div>

		<div style="position: absolute; 
			left: 250px; width:300px; top: 400px; height: 50px; 
			background-color: green">
		</div>

		<div style="position: absolute; 
			right: 250px; width:300px; bottom: 400px; height: 50px; 
			background-color: green">
		</div>

	</div> 
</div>
</body>
</html>

