<html>
<body>
<div style="position:absolute; 
	left:10px; width: 600px;
	top:10px;  height: 400px; 
	background-color:silver">
	
	<div style="position:absolute;
		left:0px; width: 100%;
		top:0px; height: 50px;
		background-color: blue;">
	top</div>	

	<div style="position:absolute; 
		left:0px; width:50px; 
		top:50px; bottom: 50px; 
		background-color:orange">
	left</div>

	<div style="position:absolute; 
		right:0px; width:50px; 
		top:50px; bottom: 50px; 
		background-color:cyan">
	right</div>

	<div style="position:absolute;
		left:0px; width: 100%;
		bottom:0px; height: 50px;
		background-color: magenta;">
	bottom</div>	


</div>
</body>
</html>
